/* iCheck plugin Springbate skin
----------------------------------- */
.icheckbox_Springbate,
.iradio_Springbate {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(Springbate.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate {
    background-position: 0 0;
}
    .icheckbox_Springbate.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate {
    background-position: -88px 0;
}
    .iradio_Springbate.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate,
    .iradio_Springbate {
        background-image: url(Springbate@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* red */
.icheckbox_Springbate-red,
.iradio_Springbate-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-red {
    background-position: 0 0;
}
    .icheckbox_Springbate-red.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-red {
    background-position: -88px 0;
}
    .iradio_Springbate-red.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-red.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-red.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-red,
    .iradio_Springbate-red {
        background-image: url(red@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* green */
.icheckbox_Springbate-green,
.iradio_Springbate-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-green {
    background-position: 0 0;
}
    .icheckbox_Springbate-green.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-green.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-green.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-green {
    background-position: -88px 0;
}
    .iradio_Springbate-green.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-green.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-green.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-green,
    .iradio_Springbate-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* blue */
.icheckbox_Springbate-blue,
.iradio_Springbate-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-blue {
    background-position: 0 0;
}
    .icheckbox_Springbate-blue.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-blue.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-blue.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-blue {
    background-position: -88px 0;
}
    .iradio_Springbate-blue.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-blue.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-blue.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-blue,
    .iradio_Springbate-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* aero */
.icheckbox_Springbate-aero,
.iradio_Springbate-aero {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(aero.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-aero {
    background-position: 0 0;
}
    .icheckbox_Springbate-aero.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-aero.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-aero.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-aero {
    background-position: -88px 0;
}
    .iradio_Springbate-aero.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-aero.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-aero.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-aero,
    .iradio_Springbate-aero {
        background-image: url(aero@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* grey */
.icheckbox_Springbate-grey,
.iradio_Springbate-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(grey.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-grey {
    background-position: 0 0;
}
    .icheckbox_Springbate-grey.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-grey.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-grey.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-grey {
    background-position: -88px 0;
}
    .iradio_Springbate-grey.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-grey.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-grey.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-grey,
    .iradio_Springbate-grey {
        background-image: url(grey@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* orange */
.icheckbox_Springbate-orange,
.iradio_Springbate-orange {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(orange.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-orange {
    background-position: 0 0;
}
    .icheckbox_Springbate-orange.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-orange.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-orange.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-orange {
    background-position: -88px 0;
}
    .iradio_Springbate-orange.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-orange.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-orange.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-orange,
    .iradio_Springbate-orange {
        background-image: url(orange@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* yellow */
.icheckbox_Springbate-yellow,
.iradio_Springbate-yellow {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(yellow.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-yellow {
    background-position: 0 0;
}
    .icheckbox_Springbate-yellow.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-yellow.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-yellow.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-yellow {
    background-position: -88px 0;
}
    .iradio_Springbate-yellow.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-yellow.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-yellow.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-yellow,
    .iradio_Springbate-yellow {
        background-image: url(yellow@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* pink */
.icheckbox_Springbate-pink,
.iradio_Springbate-pink {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(pink.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-pink {
    background-position: 0 0;
}
    .icheckbox_Springbate-pink.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-pink.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-pink.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-pink {
    background-position: -88px 0;
}
    .iradio_Springbate-pink.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-pink.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-pink.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-pink,
    .iradio_Springbate-pink {
        background-image: url(pink@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* purple */
.icheckbox_Springbate-purple,
.iradio_Springbate-purple {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(purple.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_Springbate-purple {
    background-position: 0 0;
}
    .icheckbox_Springbate-purple.checked {
        background-position: -22px 0;
    }
    .icheckbox_Springbate-purple.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_Springbate-purple.checked.disabled {
        background-position: -66px 0;
    }

.iradio_Springbate-purple {
    background-position: -88px 0;
}
    .iradio_Springbate-purple.checked {
        background-position: -110px 0;
    }
    .iradio_Springbate-purple.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_Springbate-purple.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_Springbate-purple,
    .iradio_Springbate-purple {
        background-image: url(purple@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}